/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #f1f1f1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

img {
  height: auto;
  width: 100%;
}

.flex-spacer {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.navbar {
  background: #fff;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dark-mode__toggle {
  background: #f1f1f1;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
   0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 15px;
  position: relative;
  width: 35px;
  display: flex;
  align-items: center;
}

.toggle {
  background: dodgerBlue;
  border-radius: 50px;
  height: 20px;
  left: 0;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

.toggled {
  left: 18px;
  background: #4f86f7;
}

// .charts-container {
//   width: 100%;
// }

.chart__container {
  padding: 10px;
  background: #fff;
}

.charts {
  width: 80%;
  margin: 0 auto;
}

.chart__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
  0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin-bottom: 16px;
}

.coin__title {
  display: block;
  margin-left: 8px;
  min-width: 160px;
  text-align: left;
}

.coin__symbol {
  display: block;
  margin-bottom: 10px;
  margin-right: 30px;
}

.coin__logo {
  width: 50px;
}

.coin__current-price {
  padding: 0 15px;
}

.coin__price-negitive {
  color: red;
}

.coin__price-postive {
  color: green;
}

.dark-mode {
  color: #fff;
  background-color: #313843;

  .navbar {
    background-color: #1F2022;
    border: none;
    width: 100%;

    h1 {
      color: #fff;
    }
  }

  .chart__container {
    background: #1F2022;
    color: #fff;

    .charts {
      color: #fff;
    }
  }

  .links {
    background: #333;

    .link {
      background: #1F2022;
      color: #f1f1f1;
  
      &:hover {
        background: #fff;
        color: #333;
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);

  .link {
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    color: #333;
    text-decoration: none;
    background: #f1f1f1;
    margin-right: 15px;
    border-radius: 10px;

    &:hover {
      background: #333;
      color: #fff;
    }
  }
}

.coin-container {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .coins {
    margin: 30px 0;
    width: 80%;
    background: #fff;
    box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
    border-radius: 10px;
  }
}

.btn {
  margin: 30px;
}
